.container-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 630px;
  background-color: rgb(53, 97, 94) ;
  border: 1px solid #000000;
  border-radius: 7px;

  }


.container-login__item {
  margin-bottom: 40px;
  color: rgb(59, 59, 59);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 30px;
  background-color: rgb(255, 255, 255) ;
}
