.product-list {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: rgb(170, 170, 170);
  border-radius: 30px;
  
}

.product-list__h1 {
  display: block;
  width: 100%;
  border-radius: 30px;
}

.product-list__h2 {
  font-size: 35px;
  color: rgb(59, 59, 59);
}

.product-list__h3 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  background-color: rgb(192, 192, 192);
}

.product-list__search {
  width: 490px;
  height: 50px;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 25px;
  
}

.product-list__select {
  width: 500px;
  height: 53px;
  font-size: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 25px;
}

.product-list__list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to left, #c2c2c2, #ecd4ae 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;

}
