.fetch-products__wrapper {
  margin-bottom: 50px;
  background-color: rgb(170, 170, 170);
}

.fetch-products__button {
  width: 400px;
  height: 70px;
  background-color: rgb(170, 170, 170);
  border-radius: 10px;
  font-style: initial;
}